/**
 * Catppuccin Mocha (Mauve Accent) Theme
 */

* {
    // Main Colors
    main-bg:     #1e1e2e;
    main-fg:     #cdd6f4;
    main-br:     #313244;

    // Selection Colors
    select-bg:   #45475a;
    select-fg:   #cdd6f4;

    // Accent Colors
    red:         #f38ba8;
    green:       #a6e3a1;
    yellow:      #f9e2af;
    blue:        #89b4fa;
    purple:      #cba6f7; // Mauve accent
    aqua:        #94e2d5; // Teal
    orange:      #fab387; // Peach
}
